.result{
    position: absolute;
    top: 50px;
    left: 50px;
}
#result{
    position: absolute;
    width: 700px;
    height: 400px;
}

.searcher{
    position: absolute;
    top: 15px;
    left: 50px;
}