<?xml version="1.0" encoding="UTF-8"?>

<!--
When matching to which servlet a request is sent is dependent on the matching rules defined by the url-pattern. No 2 servlets may have the same pattern, but they may have overlapping patterns. Then 4 rules apply :

1) exact matches have priority over wildcard matches 2) longer path patterns have priority over shorter patterns 3) path matches have priority over filetype matches 4) / matches anything not already matched
-->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>JChess</display-name>


    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>ru.jchess.servlets.GameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ru.jchess.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>ru.jchess.servlets.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/game</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>main</welcome-file>
    </welcome-file-list>

</web-app>

